@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<BetterBites.DnnRF.Dnn.Receptkatalogus.Models.Receptek>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


@*<div id="Items-@Dnn.ModuleContext.ModuleId">
        @if (Model == null)
        {
            <p>@Dnn.LocalizeString("NoItems")</p>
        }
        else
        {
            <ul class="tm_tl">
                @foreach (var item in Model)
                {
                    <li class="tm_t">
                        <h3>@item.nev</h3>

                    </li>
                }
            </ul>
        }
    </div>*@
@*<div>
    @foreach (var recept in Model)
    {
        <h2>@recept.nev</h2>
    }
</div>*@


<h1>Találd meg kedvenc mentes receptjeidet!</h1>
<h2>Válassz kategóriát!</h2>
<div class="kategoriacontainer">
    <div class="kategoria">
        <div class="kategoriakep">
            <img class="katkep" src="~/Portals/0/Images/reggeli.png">
        </div>
        <div class="kategorianev">
            <h2>Reggeli</h2>
        </div>
    </div>
    <div class="kategoria">
        <div class="kategoriakep">
            <img class="katkep" src="~/Portals/0/Images/ebed.png">
        </div>
        <div class="kategorianev">
            <h2>Ebéd</h2>
        </div>
    </div>
    <div class="kategoria">
        <div class="kategoriakep">
            <img class="katkep" src="~/Portals/0/Images/vacsora.png">
        </div>
        <div class="kategorianev">
            <h2>Vacsora</h2>
        </div>
    </div>
</div>