@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<BetterBites.DnnRF.Dnn.Receptkatalogus.Models.Receptek>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


@*<div id="Items-@Dnn.ModuleContext.ModuleId">
        @if (Model == null)
        {
            <p>@Dnn.LocalizeString("NoItems")</p>
        }
        else
        {
            <ul class="tm_tl">
                @foreach (var item in Model)
                {
                    <li class="tm_t">
                        <h3>@item.nev</h3>

                    </li>
                }
            </ul>
        }
    </div>*@
@*<div>
    @foreach (var recept in Model)
    {
        <h2>@recept.nev</h2>
    }
</div>*@


<h1>Találd meg kedvenc mentes receptjeidet!</h1>
<h2>Válassz kategóriát!</h2>
<table>
    <tr>
        <td>
            <img src="~/Portals/0/Images/reggeli.png">
        </td>
        <td>
            <img src="~/Portals/0/Images/ebed.png">
        </td>
        <td>
            <img src="~/Portals/0/Images/vacsora.png">
        </td>
    </tr>
    <tr>
        <td>Reggeli</td>
        <td>Ebéd</td>
        <td>Vacsora</td>
    </tr>
</table> 